.map-container {
    height: 100vh;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.styles-toolbar {
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    border-radius: 4px;
}
